/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type='number'] {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

label {
  margin-right: 0.5rem;
}

span {
  margin-left: 0.5rem;
} */


.main-div {
  display: flex;
  flex-direction: column; /* To stack elements vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: center; /* Center text within the div */
  padding-top: 100px;
}

.initial-weight-div{
  margin: 10px;
}

.results {
    display: flex;
    flex-direction: column; /* To stack elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    /* height: 100vh; */
    text-align: center; /* Center text within the div */
}

.text-color{
  color: #FBFBFB;
}

.header-color{
  color: #E4005B;
  font-weight: bolder;
  font-size: larger;
}

.custom-input{
  background-color: #212121;
  color: #FBFBFB;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: medium;
}

.custom-button {
  color: #fdfdfd;
  background-color: #E4005B;
  border: none;
  font-size: medium;
  padding: 10px;
  border-radius: 5px;
}

.custom-button:hover {
  color: #e4005b;
  background-color: #fdfdfd;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* For Firefox */
}